<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خانه</title>
</head>
<body dir="rtl">
    <h1>با دانا صحبت کن</h1>
    <form action="/" method="post">
        <input type="text" name="user" required>
        <button type="submit">ارسال</button>
    </form>

    {% if user %}
        <h1>{{user}}</h1>
    {% endif %}
</body>
</html>