<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه دوم</title>
</head>
<body dir="rtl">
    <h1>نانی هنوز در دسترس نیست</h1>
    <form style="text-align: center">
        <p>بنویسید : <input type="text" name="title"> </p>
        <p>  <input type="submit" value="ارسال"> </p>
        <h1><a href="/">صفحه قبل </h1>

    </form>
</body>
</html>