blinker==1.8.2
click==8.1.8
colorama==0.4.6
distlib==0.3.7
filelock==3.12.4
Flask==3.0.3
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.6
kivy-deps.angle==0.3.3
MarkupSafe==2.1.5
platformdirs==3.11.0
virtualenv==20.24.5
Werkzeug==3.0.6
zipp==3.20.2
gunicorn==21.2.0
